* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  
}

body {
      background-color: #ADA8BE;
}

h1 {
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    font-size: 28px;
    color: #F7F4B8;
    text-decoration: underline;

}

.page-title{
    margin-top: 10px;
    text-align: center;
}

.page-title h1 {
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    font-size: 32px;
    color: #F7F4B8;
    text-decoration: underline;

}

.page-title h3 {
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #F7F4B8;
    text-decoration: none;

}

.user-form form {

    margin-left: 10px;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    font-size: 20px;
    color:#F7F4B8;
    text-decoration : none
}

.user-form button {
    margin-top: 10px;
}

.user-fields {
    margin-top: 10px;
}


li, a, button {
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #F7F4B8;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:30px 10%;
    background-color: rgba(104, 69, 81, 1);
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
   color: #F79256;
}

button {
    padding: 9px 25px;
    background-color: rgba(33, 1, 36, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    color:#F79256;
    background-color: rgba(33, 1, 36, 0.8);
}

.image {
    position: relative;
    text-align: center;
}

/* .image img{
    width: 60rem;
} */

.welcome {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 10em;
    text-decoration: none;
    color: #F7F4B8;
}

.sub-welcome {
    position: relative;
    text-align: center;
    color: #F7F4B8;
    font-family: 'Nunito', sans-serif;
}

.about-us-container{
    width: 25em;
    text-align: right;
    margin-top: 50px;
    margin-left: auto;
    margin-right: 100px;
    font-family: 'Nunito', sans-serif;
    float: right;

}

.about-us-container p{
    color: #F7F4B8;
    font-size: 22px;
}

.about-us-image img {
    margin-top: 10px;
    margin-bottom: 10px;
    float: left
   
}

 a {
    transition: all 0.3s ease 0s;
    font-size:22px;
}

 a:hover {
   color: #FAC09E;
   border-color: #FAC09E;
}

.user-details {
    color: #F7F4B8;
    font-size: 24px;
    font-family: 'Nunito', sans-serif;
    margin-top: 10px;
    margin-left: 10px;
}

#shop-now {
    border: 2px solid #F7F4B8;
    width: 10rem;
    color: #F7F4B8;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    text-align: center;
    margin-left: 35rem;
    position: relative;

}

.shop-title {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 10em;
    text-decoration: none;
    color: #dc824e;
}

/* shopping cart styles */

#shopping-cart {
    margin-top: 5rem;
    margin-left: 10rem;
}

.shopping-cart tr th{
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    font-size: 24px;
    color: #F7F4B8;
    text-decoration: none;
    column-gap: 5rem;


}


#update-cart{
    margin-top: .5rem;
    margin-bottom: .5rem;
    padding: 9px 25px;
    background-color: rgba(33, 1, 36, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: #F7F4B8;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 300;
}

#update-cart:hover{
    color:#F79256;
    background-color: rgba(33, 1, 36, 0.8);
}

#empty-cart{
    margin-top: .5rem;
    margin-bottom: .5rem;
    padding: 9px 25px;
    background-color: rgba(33, 1, 36, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: #F7F4B8;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 300;
}

#empty-cart:hover{
    color:#F79256;
    background-color: rgba(33, 1, 36, 0.8);
}

#sub-total {
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #F7F4B8;
    text-decoration: none;
}

#shipping {
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #F7F4B8;
    text-decoration: none;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

#checkout-order-form {
    margin: 1rem;
}

#checkout-order-form h2 {
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    font-size: 24px;
    color: #F7F4B8;
    text-decoration: none;
}
#checkout-order-form legend {
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #F7F4B8;
    text-decoration: none;
}
#checkout-order-form label {
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #F7F4B8;
    text-decoration: none;
}

#check-order-form div input{
    border-radius: 10px;
}

#shipping-same {
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #F7F4B8;
    text-decoration: none;
}

#submit-order {
    margin-top: .5rem;
}

/* SHOP STYLES */

.product{
    display: flex;
    justify-content: space-around;
}

.product-description {
    margin-top: .5rem;
    margin-left: 20rem;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #F7F4B8;
    text-decoration: none;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.37);
    text-align: center;
    background-color: #868295;
    width: 50%;
   
}

.product-description button {
    margin-bottom: .5rem;
    margin-top: .5rem;
}

.beer-title {
    
    margin-top: .5rem;
    margin-left: 20rem;
    font-size: 5em;
    text-decoration: none;
    color: #dc824e;
    text-decoration:underline;
}

.contact-info {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

