{% extends "base.html" %}

{% block title %}About Us{% endblock %}

{% block content %}
<div class="about-us-image">
    <img src="/static/images/retail-storefront.jpeg" alt="retail-storefront" width="50%">
</div>

<div class="about-us-container">
    <h1>PROVISIONS</h1>
    <br>
    <p>Provisions was created with the intention of being a space for people to discover great and unique treats to bring to any engagement. We've all had the moment of wanting to bring something special to the party or family dinner, but the big grocer didn't have anything exciting to the palet or one of a kind. Provisions is the answer to that problem. With highly curated selection of craft beers, natural wines, and specialty food items, you'll be the one walking into the party with everyone's new favorite beer, wine, or food item! </p>
    <br>
    <p>Come by and say hi or <a  href="/provisions/shop">shop online!</a> </p>
</div>


{% endblock %}