<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;500&display=swap" rel="stylesheet">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <nav>
            <ul class="nav-links">
                <li><a href="/provisions/home">Home</a></li>
                <li><a href="/provisions/about-us">About Us</a></li>
                <li><a href="/provisions/shop">Shop</a></li>
                <li><a href="">Contact Us</a></li>
            </ul>
        </nav>  
        {% if session['username'] %}
        <div><a href="/provisions/shop/cart"><button>Shopping Cart</button></a></div>
        <div><a href="/provisions/user/{{session['username']}}"><button>Account</button></a></div>
        <div><a href="/provisions/user/logout"><button>Logout</button></a></div>
        {% else %}
        <div><a href="/provisions/user/signin"><button>Sign In</button></a></div>
        <div><a href="/provisions/user/new"><button>Sign Up</button></a></div>
        {% endif %}
    </header>
    {%block content%}
    {% endblock %}
</body>
</html>