{% extends "base.html" %}

{% block title %}Shopping Cart{% endblock %}

{% block content %}
<form id="shopping-cart" action="/provisions/shop/cart" method="post">
    <table class="shopping-cart">
        <thead>
            <tr>
                <th scope="col">Item</th>
                <th scope="col">Qty</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    <p id="sub-total">
        <strong>Sub Total</strong>: <span id="stotal"></span>
    </p>
    <div id="shopping-cart-actions">
            <input type="submit" name="update" id="update-cart" class="btn" value="Update Cart" />
            <input type="submit" name="delete" id="empty-cart" class="btn" value="Empty Cart" />
            <br>
            <a href="/provisions/shop" class="btn">Continue Shopping</a>
            <br>
            <a href="/provisions/shop/checkout" class="btn">Go To Checkout<a>
    </div>
</form>

{% endblock%}